html,
body {
    background: #E9F0C0;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}
.header-top {
	border-top: 1px solid black;
}
.header-top a {
	color: #246C9B;
}
.header-top  .input-group {
	border: 1px solid black;
	border-radius: 5px;
	box-shadow: 0 0 2px black;
}
.nav > li > form > button.logout:focus {
    outline: none;
}
.header-middle {
	background: #2F1E0A;
	box-shadow: 0 0 5px black;
}
.breadcrumb {
	padding: 5px 10px;
	margin: 14px 0 5px;
	border: 1px solid black;
	box-shadow: 0 0 5px black;
	background: #E9F0C0;
}
.product-image img {
	width: 100%;
}
#search-form {
	margin-top: 3px;
}
#w0 a {
	color: #DCD294;/*#E9F0C0;*/
}
#w0 a:hover, #w0 button:hover {
	color: black;
}
#w0 button:hover {
	color: black;
	background: #eeeeee;
}
#w0 button {
	color: #DCD294;
}
#logo-block {
	padding-top: 6px;
}
#logo-block > a {
	color: #DCD294;
	font-size: 100%;
	font-style: italic;
	font-weight: bold;
	/*text-shadow: 0 0 1px yellow;*/
}
.row-flex {
    display: flex;
    flex-flow: row wrap;
}
#left-sidebar {
	background: #AEC55D;
	box-shadow: 0 0 5px black;
	padding: 0 10px;
	margin: 10px 10px 10px 0;
	border: 1px solid black;
	height: 100%;
}
#main-part {
	background: #DCD294;
	box-shadow: 0 0 5px black;
	padding: 0 10px;
	margin: 10px 0 10px 0;
	border: 1px solid black;
	height: 100%;
}
.no-gutters {
	margin: 0;
	padding: 0;
}
.no-gutters > div {
	margin: 0;
	padding: 0;
}
.category-products a {
	color: yellow;
	text-shadow: 0 0 1px black;
}
.brand-products a {
	color: blue;
	text-shadow: 0 0 1px white;
}
.product-title {
	color: #2F1E0A;
	font-size: 110%;
	font-weight: bold;
	font-style: italic;
}
.product-price {
	color: red;
	margin-top: 10px;
	font-size: 110%;
	font-weight: bold;
	text-shadow: -1px 0 1px black;
}
.product-wrapper {
	border: 1px solid black;
	margin: 10px;
	padding: 10px;
	box-shadow: 0 0 5px black;
	border-radius: 5px;
	background: #E9F0C0;
}
.product-wrapper a {
	text-decoration: none;
}
.product-info {
	position: absolute;
	top: 55px;
	color: blue;
	text-shadow: -1px 1px 1px black;
}
.thumbnail {
	overflow: hidden;
	text-overflow: ellipsis;
}
#zero {
	height: 10px;
}
footer {
	background: #739C3E;
	margin-top: 10px;
	box-shadow: 0 0 5px black;
	border: 1px solid black;
	padding: 5px;
}
.active > a {
	color: red !important;
}
.logo {
	font-size: 100% !important;
	line-height: 1.5 !important;
	font-style: italic !important;
}